:root {
  --light-1: #FFEEDD;
  --light-2: #FFDDAA;

  --neutral-1: #667788;
  --neutral-1-25: #667788BB;
  --neutral-highlight-1: #99AABB;

  --dark-1: #001133;
}

body {
  color: var(--dark-1);
  background-color: var(--light-1);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  height: 100vh;
  overflow-y: scroll;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 5;
  transition: display 1s linear;
}

footer {
  flex-shrink: 1;
  /* position: absolute;
  bottom: 1em; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

a {
  color: var(--dark-1);
}

a.button {
  background-color: var(--neutral-1);
  color: var(--light-1);
  
  text-decoration: none;
  padding: 0.5em 2em;
  border-radius: 5px;

  transition: background-color 0.1s linear, transform 0.1s linear;
}

a.button:hover {
  background-color: var(--neutral-highlight-1);
  transform: scale(1.1);
}


.panel {
  background-color: var(--neutral-1);
  color: var(--light-2);

  flex: 1;
  padding: 2em 1em;

  font-size: 30px;
  /* font-weight: bold; */
  text-transform: uppercase;
  line-height: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.band-logo {
  align-self: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-item {
  flex-shrink: 1;
  list-style: none;
  transition: transform 0.2s ease-out;
}

.menu-item.active {
  font-weight: bolder;
  transform: scale(1.1);
}

.menu-item:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
}

.page>.title {
  flex: 1;
}

.title {
  margin: 0.5em 0%;
}

.page>.content {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social {
  font-size: 3rem;
}

.social>ul {
  display: flex;
}

.social-link {
  margin: 0.5rem;
}

.about {
  text-align: center;
}

hr {
  margin: 1em 2em;
}

.bio {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

img.headshot {
  flex: 1;
  width: 10%;
  aspect-ratio: 1 / 1;
  border-radius: 1em;
  object-fit: cover;
}

.bio-text {
  flex: 3;
}

.concert {
  display: flex;
  gap: 1rem;
}

.show-date {
  flex: 2;
  text-align: center;
}

.show-date>header {
  background-color: var(--dark-1);
  color: var(--light-1);
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0% 0%;
}

.show-date>footer {
  background-color: var(--light-2);
  color: var(--dark-1);
  padding: 1rem;
  border-radius: 0% 0% 0.5rem 0.5rem;
  font-size: xx-large;
}

.show-deails {
  flex: 9;
}

.show-details > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#music-player {
  background-color: var(--neutral-1);
  padding: 1em 0%;
  border-radius: 5px;
}

#song-title {
  background-color: var(--dark-1);
  color: var(--neutral-1);
  padding: 0.5em;
}

#track-list {
  padding: 0% 0.5em;
  max-height: 5em;
  overflow: hidden;
  overflow-y: scroll;
}

.song {
  list-style: none;
  cursor: pointer;
}

.song.playing {
  color: var(--neutral-highlight-1);
}

.song:hover {
  color: var(--neutral-highlight-1);
}

.video-container {
  background-color: var(--dark-1);
  color: var(--neutral-highlight-1);
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0px 5px 15px var(--neutral-1);
}

.testimonial {
  background-color: var(--neutral-1-25);
  color: var(--light-1);
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  align-self: center;
}

.testimonial>blockquote {
  border-left: 4px solid var(--dark-1);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}